* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: #f6f6f6;
    color: #5c5c5c;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    outline: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {

    &__title {
        font-family: 'Roboto';
        font-size: 30px;
        text-align: center;
        margin-top: 30px;

    }

    // .header__wrapper

    &__wrapper {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .header__logo

    &__logo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .header__control

    &__control {}
}

.add {

    // .add__task

    &__task {
        background: #1abc9c;

        color: #fff;
        padding: 10px 30px;
        border-radius: 50px;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        border: 1px solid #1abc9c;
        transition: .3s;



    }
}


.tasks {
    margin-top: 50px;

    // .tasks__wrapper

    &__wrapper {}
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;

    // .list__item

    &__item {
        width: 100%;

        margin-bottom: 15px;

    }
}

.item {

    // .item__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
    }

    // .item__status

    &__status {
        height: 50px;
        width: 50px;
        border-right: 1px solid #dad9dc;
        overflow: hidden;
    }

    // .item__done

    &__done {
        width: 100%;
        border: none;
        height: 100%;
        border-radius: 5px 0 0 5px;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            transition: .3s;

            path {
                transition: .3s;
                fill: #b4b4b4;
            }
        }

    }

    // .item__info

    &__info {
        flex-shrink: 0;
        flex-grow: 1;
        padding: 0 20px;
    }

    // .item__title

    &__title {
        font-size: 18px;
        color: #5c5c5c;
        user-select: none;
    }

    // .item__control

    &__control {
        display: flex;
    }

    // .item__open

    &__open {
        height: 50px;
        width: 50px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #dad9dc;

        svg {
            width: 24px;
            height: 24px;
            transition: .3s;

            g {
                transition: .3s;
            }
        }



        &--active {
            svg {
                transform: scale(1.2);

                g {
                    fill: #1abc9c;

                }
            }
        }

    }

    // .item__delete

    &__delete {
        height: 50px;
        width: 50px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #dad9dc;


        svg {
            width: 24px;
            height: 24px;
            object-fit: cover;
            transition: .3s;
            fill: #b4b4b4;
        }



    }

    // .item__bottom

    &__bottom {
        max-height: 0;
        overflow: hidden;
        overflow: hidden;
        transition: .3s;

        &--active {
            // max-height: auto;
            max-height: min-content;
        }

    }

    // .item__descroption

    &__descroption {
        padding: 20px;
        width: 100%;
        height: auto;
        border: none;
        background: transparent;
        font-size: 18px;
        color: #5c5c5c;
        outline: none;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}


.finish {
    svg {
        path {
            fill: #1abc9c;
        }
    }
}




.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

    &--active {
        visibility: visible;

        .addTask {
            transform: translateY(0);

        }
    }
}

.addTask {
    padding: 30px;
    min-width: 400px;
    background: #f6f6f6;
    border-radius: 10px;
    position: relative;
    transform: translateY(-200%);
    transition: .3s;


    // .addTask__form

    &__form {
        display: flex;
        flex-direction: column;
    }

    // .addTask__description

    &__description {
        margin: 20px 0;
        min-height: 150px;
        padding: 10px;
        outline: none;
        border: 1px solid #dad9dc;
        border-radius: 4px;
        resize: none;
        color: #1abc9c;
        font-size: 16px;

        &:focus {
            border-color: #1abc9c;
        }
    }

    // .addTask__btn

    &__btn {
        background: #1abc9c;
        color: #fff;
        padding: 10px 30px;
        border-radius: 50px;
        font-size: 14px;
        cursor: pointer;
        outline: none;
        border: 1px solid #1abc9c;
        transition: .3s;
        align-self: flex-end;

    }

    // .addTask__close

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;

        width: 14px;
        height: 14px;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        font-size: 16px;
        color: #5c5c5c;
    }

    &__title {
        padding: 10px;
        outline: none;
        border: 1px solid #dad9dc;
        border-radius: 4px;
        resize: none;
        color: #1abc9c;
        font-size: 16px;

        &:focus {
            border-color: #1abc9c;
        }
    }

    &__caption {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Roboto';
        margin-top: 0;
    }
}

.overlay-update {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

    &--active {
        visibility: visible;

        .updateTask {
            transform: translateY(0);

        }
    }
}

.updateTask {
    padding: 30px;
    min-width: 400px;
    background: #f6f6f6;
    border-radius: 10px;
    position: relative;
    transform: translateY(-200%);
    transition: .3s;

    // .updateTask__caption

    &__caption {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Roboto';
        margin-top: 0;
    }

    // .updateTask__form

    &__form {
        display: flex;
        flex-direction: column;
    }

    // .updateTask__title

    &__title {
        padding: 10px;
        outline: none;
        border: 1px solid #dad9dc;
        border-radius: 4px;
        resize: none;
        color: #1abc9c;
        font-size: 16px;

        &:focus {
            border-color: #1abc9c;
        }
    }

    // .updateTask__description

    &__description {
        margin: 20px 0;
        min-height: 150px;
        padding: 10px;
        outline: none;
        border: 1px solid #dad9dc;
        border-radius: 4px;
        resize: none;
        color: #1abc9c;
        font-size: 16px;

        &:focus {
            border-color: #1abc9c;
        }
    }

    // .updateTask__btn

    &__btn {
        background: #1abc9c;
        color: #fff;
        padding: 10px 30px;
        border-radius: 50px;
        font-size: 14px;
        cursor: pointer;
        outline: none;
        border: 1px solid #1abc9c;
        transition: .3s;
        align-self: flex-end;
    }

    // .updateTask__close

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;

        width: 14px;
        height: 14px;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        font-size: 16px;
        color: #5c5c5c;
    }
}






.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    // .auth__form

    &__form {
        width: 450px;
    }

    // .auth__input

    &__input {
        margin-bottom: 20px;
    }

    // .auth__btn

    &__btn {
        text-transform: uppercase;
        padding: 10px 40px;
        font-size: 16px;
    }
}




.context-menu {
    display: none;
    position: absolute;


    // .context-menu__list

    &__list {}

    // .context-menu__item

    &__item {
        font-family: 'Roboto';
        padding: 5px 10px;
        border: 1px solid #5c5c5c;
        cursor: pointer;
        transition: .3s;
        border-radius: 4px;
        color: #5c5c5c;
        background-color: #f6f6f6;
        user-select: none;

        &:first-child {
            border-bottom: none;
        }

        &:hover {
            color: #f6f6f6;
            background-color: #5c5c5c;
        }
    }
}




















@media (max-width: 1100px) {
    .container {
        max-width: 100%;
        padding: 0 30px;
    }
}

@media (max-width: 720px) {
    .container {
        padding: 0 15px;
    }

    .item__info {
        flex-shrink: 1;
        padding: 0px 10px;
    }

    .item__status {
        flex-shrink: 0;
        align-self: stretch;
        min-height: 100%;
        height: auto;

    }

    .item__title {
        font-size: 14px;
    }

    .item__control {
        flex-shrink: 0;
        align-self: stretch;
        min-height: 100%;
        height: auto;
    }

    .item__open,
    .item__delete {
        min-height: 50px;
        height: auto;

    }

    .overlay, .overlay-update {
        padding: 10px;
    }

    .addTask, .updateTask {
        min-width: 100%;
        border-radius: 5px;
        padding: 30px 15px;
    }

    .auth {
        padding: 0 10px;
        // .auth__form

        &__form {
            width: 100%;
        }

        // .auth__input

        &__input {
            margin-bottom: 20px;
        }

        // .auth__btn

        &__btn {
            text-transform: uppercase;
            padding: 10px 40px;
            font-size: 16px;
        }
    }
}

// ховер эффекты================================================================= HOVER =========================
@media (min-width: 720px) {
    .addTask__btn {
        &:hover {
            background: #fff;

            color: #1abc9c;
        }
    }

    .item__delete {
        &:hover {
            svg {
                fill: #1abc9c;
                transform: scale(1.2);
            }
        }
    }

    .item__open {
        &:hover {
            svg {
                transform: scale(1.2);

                path {
                    fill: #1abc9c;
                }
            }
        }
    }

    .add__task {
        &:hover {
            background: #fff;

            color: #1abc9c;
        }
    }
}